##1. Write a Python function that takes a list of numbers as input and the sum of all even numbers in the list.

In [ ]:
# function takes a list of numbers as input and the sum of all even numbers
# in the list
def even_sum(numbers):
    even_sum = 0
    for num in numbers:
        if num % 2 == 0:
            even_sum += num
    return even_sum

even_sum([1,2,3,4,5,6,7,8,9,10])

30

##2. Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
# function that accepts a string and returns the reverse of that string.
def reverse_string(string):
    return string[::-1]

reverse_string("Hello, Aman")

'namA ,olleH'

##3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.

In [4]:
#function that takes a list of integers and returns a new list containing
#the squares of each number.
def square_numbers(numbers):
    # Initialize an empty list to store the squares
    squares = []
    for num in numbers:
        squares.append(num**2)
    return squares

square_numbers([1,2,3,4,5])

[1, 4, 9, 16, 25]

##4. Write a Python function that checks if a given number is prime of not from 1 to 200.

In [13]:
def is_prime(number):
    # Check if the number is less than 2
    if number < 2:
        return False
    for i in range(2, number):
        # Check if the number is divisible by any number between 2 and the number itself
        if number % i == 0:
            return False
    return True

is_prime(112)

True

##5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

In [14]:
def fib(n):
    a, b = 0, 1
    for i in range(n):
        yield a
        a, b = b, a + b

for num in fib(10):
    print(num)

0
1
1
2
3
5
8
13
21
34

##6. Write a generator function in Python that yeilds the power of 2 up to a given exponent.

In [19]:
def power_of_two(exponent):
    for i in range(exponent + 1):
        yield 2**i

for num in power_of_two(5):
    print(num)

1
2
4
8
16
32

##7. Implement a generator function that reads a file line by line and yeilds each line as a string.

In [21]:
# In google colab, the file will not be readable bcz this is not go inside the
#function and doesn't open or read the file
#but I think the Code is Almost correct from my side

def read_file(filename):
    with open(filename, 'r') as file:
        # Read each line from the file
        for line in file:
            # Strip the newline character from the end of each line
            yield line.strip()

for line in read_file('test.txt'):
    # Print each line
    print(line)

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

##8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [22]:
def sort_tuples(tuples):
    return sorted(tuples, key=lambda x: x[1])

sort_tuples([(1, 3), (2, 1), (3, 2)])

[(2, 1), (3, 2), (1, 3)]

##9. Write a Python program that uses 'map' to convert a list of temperatures from celcius to fahrenheit.

In [24]:
places = [('Delhi',32),("Mumbai",12),("Patna",44), ("Kashmir",29)]

newplaces = list(map(lambda c: (c[0],  (9/5) * c[1]+ 32), places))
print(newplaces)

[('Delhi', 89.6), ('Mumbai', 53.6), ('Patna', 111.2), ('Kashmir', 84.2)]

#10. Create a Python program that uses 'filter()' to remove all the vowels from a string.

In [43]:
def remove_vowels(input_string):
    vowels = "aeiouAEIOU"
    result = filter(lambda x: x not in vowels, input_string)
    return ''.join(result)

filtered_string = remove_vowels("Hello, World!")
print(filtered_string)

Hll, Wrld!

##11. Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the product of the price per item and the quantity. The product should be increased by 10,- € if the value of the order is smaller than 100,00 €.

In [45]:

# Define the list of orders
orders = [
    [34587, 'Learning Python', 'Mark Lutz', 4, 40.95],
    [98762, 'Programming Python', 'Mark Lutz', 5, 56.80],
    [77226, 'Head First Python', 'Paul Barry', 3, 32.95],
    [88112, 'Einführung in Python3', 'Bernd Klein', 3, 24.99]
]

# Define a function to calculate total cost; add €10 if total cost is less than €100
def calculate_total_cost(quantity_price):
    quantity, price_per_item = quantity_price[3], quantity_price[4]
    total_cost = quantity * price_per_item
    return total_cost + 10 if total_cost < 100 else total_cost

# Use map() with lambda to apply calculate_total_cost function to each sublist
result_list = list(map(lambda x: (x[0], calculate_total_cost(x)), orders))

print(result_list)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]